* {
  margin: 0;
  padding: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.nav-bar a {
  text-decoration: none;
  margin: 20px;
  font-family: 'Inter', sans-serif;
}

.header-container {
  display: flex;
  background-color: #E8E7E7;
  align-items: center;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  height: 75px;
}

.header_logo {
  margin-left: 71px;
  font-size: 35px;
}
