<!--This puts all the menu items horizontally-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@600;800&display=swap" rel="stylesheet">

<div class="header-container">
  <h2 class="header_logo"><a routerLink="">salvus</a></h2>
  <nav *ngIf='userService.getAuthToken() != null' class="nav-bar">
    <a routerLink="/mark-search">Perform a Search</a>
    <a (click)="logout()" routerLink="">Log Out</a>
  </nav>
</div>



