.results-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  font-size: 0.9em;
  border-radius: 10px;
}

.table-header {
  border-bottom: 2px solid #CFDCE5;
  background-color: #1E293B;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
}

.results-table th {
  padding: 20px 5px 20px 20px;
  text-align: start;
}

.results-table th:first-child {
  border-top-left-radius: 10px;
}

.results-table th:last-child {
  border-top-right-radius: 10px;
}

.results-table td {
  padding: 20px;
}

/*.results-table tr:nth-child(even) {*/
/*  background-color: #FFFFFF;*/
/*}*/

.results-table tr:nth-child(even) {
  background-color: #F5F8FA;
}

.high-risk-level {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #FFD5D1;
  border-radius: 20px;
  color: #A8071A;
}

.medium-risk-level {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #FFF6D1;
  border-radius: 20px;
  color: #BF7B05;
}

.low-risk-level {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #D9F7BE;
  border-radius: 20px;
  color: #0A5C1F;
}

.nav-button {
  background: none;
  border: none;
  margin: 10px;
  cursor: pointer;
}

.table-container {
  display: flex;
  margin: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

.case-file-descriptions {
  max-height: 200px;
  overflow-y: auto; /* Scrollable */
  white-space: pre-line;
}
