.results-table {
  width: 100%;
  border-collapse: collapse;
}

.results-table th {
  background-color: #396e93;
  color: white;
  padding: 8px;
}

.results-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.results-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.results-table tr:nth-child(odd) {
  background-color: #ffffff;
}

.high-risk-level {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #FFD5D1;
  border-radius: 20px;
  color: #A8071A;
}

.medium-risk-level {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #FFF6D1;
  border-radius: 20px;
  color: #BF7B05;
}

.no-risk-level {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #D9F7BE;
  border-radius: 20px;
  color: #0A5C1F;
}

.nav-button {
  background: none;
  border: none;
}

.table-container {
  display: flex;
  margin: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column
}
