<div class="page-container">

  <div>
    <img class="image" ngSrc="assets/homePageImage.svg" alt="Man using computer" height="550" width="608">
  </div>

  <div class="authentication-container">

    <h1 style="text-align: center">Welcome to Salvus</h1>

    <div class="authentication__button-container">
      <button (click)="showLoginForm = true; showRegisterForm = false">Login</button>
      <button (click)="showRegisterForm = true; showLoginForm = false">Register</button>
    </div>

    <div
      style=" display: flex; border: 2px solid rgb(128,128,128); box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.08); border-radius: 40px;">
      <div *ngIf="showRegisterForm" class="form-container">
        <form #registerform='ngForm' (ngSubmit)="register()">
          <label for="registerEmail" class="form-label">Email</label>
          <input type="text" id="registerEmail" name="email" [(ngModel)]="registerEmail" placeholder="Enter Email"
                 required>

          <label for="companyName" class="form-label">Company Name</label>
          <input type="text" id="companyName" name="companyName" [(ngModel)]="companyName"
                 placeholder="Enter Company Name" required>

          <label for="registerPassword" class="form-label">Password</label>
          <input type="password" id="registerPassword" name="password" [(ngModel)]="registerPassword"
                 placeholder="Enter Password" required>

          <label for="confirmedRegisterPassword" class="form-label">Confirm Password</label>
          <input type="password" id="confirmedRegisterPassword" name="confirmedPassword"
                 [(ngModel)]="confirmedRegisterPassword" placeholder="Confirm Password" required>

          <button type="submit" [disabled]="!registerform.valid">Register</button>
        </form>

        <div *ngIf="!registerSuccess" style="color:red">{{ errorMessage }}</div>
      </div>

      <div *ngIf="showLoginForm" class="form-container">
        <form #loginform='ngForm' (ngSubmit)="login()">
          <label for="loginEmail" class="form-label">Email</label>
          <input type="text" id="loginEmail" name="email" [(ngModel)]="loginEmail" placeholder="Enter Email" required>

          <label for="loginPassword" class="form-label">Password</label>
          <input type="password" id="loginPassword" name="password" [(ngModel)]="loginPassword"
                 placeholder="Enter Password" required>

          <button type="submit" [disabled]="!loginform.valid">Log In</button>
        </form>

        <div *ngIf="!loginSuccess" style="color:red">{{ errorMessage }}</div>
      </div>
    </div>

  </div>
</div>
