<div style="display: flex; justify-content: center; align-items: center; flex-direction: column; margin: 50px;">
  <h1 class="search-title">Let's get started.</h1>
  <p class="search-description">Is your trademark at risk? Find out now.</p>
</div>

<!--This box contains both the manual enter and the file drag and drop-->
<div style="display:flex; justify-content: space-evenly; align-items: center;">

  <div class="mark-input-box-test">

    <!--The Search Bar-->

    <div class="wrap">
      <form class="search" #wordmark='ngForm' (ngSubmit)="markSearch()">
        <input name="wordMark" [(ngModel)]="mark" type="text" class="searchTerm" placeholder="Search Product Name">
        <button type="submit" class="searchButton" [disabled]="!wordmark.valid">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>

    <!--All the drop down menus-->
    <div>
      <div>
        <select class="select-box" name='selectedOption' id="selectedOption" [(ngModel)]="selectedOption" required>
          <option value="" disabled [selected]="selectedOption === null">Product Category</option>
          <option *ngFor="let option of options" [ngValue]="option">{{option[0]}}</option>
        </select>
      </div>
<!--      <div class="dropdown">-->
<!--        <input [(ngModel)]="categorySearchTerm" (input)="filterResults()" placeholder="Search..." />-->
<!--        <select class="dropdown-content" *ngIf="filteredOptions.length > 0" [(ngModel)]="selectedOption" required>-->
<!--          <option *ngFor="let option of filteredOptions" (click)="selectOption(option[0])">-->
<!--            {{ option[0] }}-->
<!--          </option>-->
<!--        </select>-->
<!--      </div>-->

<!--      <div>-->
<!--        <select class="select-box" name='searchScope' id="searchScope" [(ngModel)]="searchScope" required>-->
<!--          <option value="" disabled [selected]="searchScope === null">Search Type</option>-->
<!--          <option>All</option>-->
<!--          <option>Similar</option>-->
<!--          <option>Same</option>-->
<!--        </select>-->
<!--      </div>-->

<!--      <div>-->
<!--        <select class="select-box" name='trademarkStatus' id="trademarkStatus" required>-->
<!--          <option>Live</option>-->
<!--          <option>Dead</option>-->
<!--          <option>Both</option>-->
<!--        </select>-->
<!--      </div>-->
    </div>

  </div>

<!--  <div class="MacbookPro1423" style="width: 1512px; height: 982px; position: relative; background: #D3E6FE">
  <div class="Frame3" style="width: 1512px; height: 75px; left: 0px; top: 0px; position: absolute; background: #1E293B; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)">
    <div class="Salvus" style="width: 265px; height: 35px; left: 59px; top: 20px; position: absolute; color: white; font-size: 36px; font-family: Inter; font-weight: 800; word-wrap: break-word">salvus</div>
    <div class="PlaceholderLabel" style="width: 93px; left: 217px; top: 33px; position: absolute; color: white; font-size: 15px; font-family: Inter; font-weight: 400; line-height: 22px; word-wrap: break-word">My Account</div>
    <div class="PlaceholderLabel" style="width: 93px; left: 324px; top: 33px; position: absolute; color: white; font-size: 15px; font-family: Inter; font-weight: 400; line-height: 22px; word-wrap: break-word">Contact Us</div>
  </div>
  <div class="Rectangle13" style="width: 539px; height: 520px; left: 486px; top: 324px; position: absolute; background: white; box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.08); border-radius: 40px"></div>
  <div class="Group60" style="width: 451px; height: 232px; left: 530px; top: 444px; position: absolute">
    <div class="Group54" style="width: 451px; height: 92px; left: 0px; top: 0px; position: absolute">
      <div class="Rectangle17" style="width: 451px; height: 57px; left: 0px; top: 35px; position: absolute; background: white; border-radius: 9px; border: 1px #4285F4 solid"></div>
      <div class="UsernameOrEmailAddress" style="width: 302px; height: 19px; left: 25px; top: 54px; position: absolute; color: #808080; font-size: 14px; font-family: Inter; font-weight: 300; word-wrap: break-word"> i.e. “Mickey Mouse”</div>
    </div>
    <div class="Group55" style="width: 451px; height: 92px; left: 0px; top: 140px; position: absolute">
      <div class="EnterYourPassword" style="left: 0px; top: -2px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Select Trademark Industry</div>
      <div class="Rectangle17" style="width: 451px; height: 57px; left: 0px; top: 35px; position: absolute; background: white; border-radius: 9px; border: 1px #ADADAD solid"></div>
      <div class="Password" style="width: 302px; height: 19px; left: 25px; top: 54px; position: absolute; color: #808080; font-size: 14px; font-family: Inter; font-weight: 300; word-wrap: break-word">None</div>
    </div>
    <div class="EnterTrademark" style="left: 4px; top: 0px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Enter Trademark</div>
  </div>
  <div class="Group56" style="width: 451px; height: 54px; left: 534px; top: 720px; position: absolute">
    <div class="Rectangle18" style="width: 451px; height: 54px; left: 0px; top: 0px; position: absolute; background: #4285F4; box-shadow: 0px 4px 19px rgba(119, 147, 65, 0.30); border-radius: 10px"></div>
    <div class="Search" style="width: 74px; left: 198px; top: 15px; position: absolute; color: white; font-size: 16px; font-family: Inter; font-weight: 500; word-wrap: break-word">Search</div>
  </div>
  <div class="LetSGetStarted" style="width: 455px; height: 55.70px; left: 530px; top: 156px; position: absolute; color: black; font-size: 55px; font-family: Inter; font-weight: 700; word-wrap: break-word">Let’s get started.</div>
  <div class="Search" style="left: 701px; top: 366px; position: absolute; color: black; font-size: 32px; font-family: Inter; font-weight: 700; word-wrap: break-word">Search</div>
  <div class="Button" style="width: 29.50px; height: 24.72px; padding-left: 8px; padding-right: 8px; padding-top: 4px; padding-bottom: 4px; left: 961px; top: 634.24px; position: absolute; transform: rotate(90.55deg); transform-origin: 0 0; border-radius: 6px; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
    <div class="Frame" style="justify-content: flex-start; align-items: center; gap: 2px; display: inline-flex">
      <div class="IconChevronRight" style="width: 20px; height: 20px; justify-content: center; align-items: center; display: flex">
        <div class="Group" style="width: 20px; height: 20px; position: relative">
          <div class="Rectangle3" style="width: 20px; height: 20px; left: 0px; top: 0px; position: absolute"></div>
          <div style="width: 5.15px; height: 8.80px; left: 7.24px; top: 5.58px; position: absolute; background: #69788C"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="IsYourTrademarkAtRiskFindOutNow" style="width: 638px; height: 61px; left: 434px; top: 229px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Is your trademark at risk? Find out now. </div>
</div>-->


  <!--This will be the left side manually input text area-->
  <!--  <div class="mark-input-box">-->
  <!--    <h1>Perform a Search</h1>-->

  <!--    <form #markdescription='ngForm' (ngSubmit)="classifyCode()">-->
  <!--      <textarea rows="5" cols="30" type="text" name="description" [(ngModel)]="description"-->
  <!--                placeholder="Enter description of your product or service"-->
  <!--                required></textarea>-->
  <!--      <button type="submit" [disabled]="!markdescription.valid">Submit</button>-->
  <!--    </form>-->

  <!--    <div *ngIf="classification != ''">-->
  <!--      <p style="text-align: center">`{{classification}}` best matches your-->
  <!--        description. Is that correct? If not select from the options below</p>-->
  <!--    </div>-->

  <!--    <div>-->
  <!--      <select name='selectedOption' [(ngModel)]="selectedOption" required>-->
  <!--        <option *ngFor="let option of options" [ngValue]="option">{{option[0]}}</option>-->
  <!--      </select>-->
  <!--    </div>-->

  <!--    <form #wordmark='ngForm' (ngSubmit)="markSearch()">-->
  <!--      <textarea rows="2" cols="30" type="text" name="wordMark" [(ngModel)]="mark"-->
  <!--                placeholder="Enter the word mark you are searching for"-->
  <!--                required></textarea>-->
  <!--      <button type="submit" [disabled]="!wordmark.valid">Submit</button>-->
  <!--    </form>-->

  <!--    <h3>Search Scope</h3>-->

  <!--    <form>-->
  <!--      <input type="radio" [(ngModel)]='searchScope' id="option1" name="choice" value="same">-->
  <!--      <label for="option1">Same Category</label><br>-->

  <!--      <input type="radio" id="option2" [(ngModel)]='searchScope' name="choice" value="similar">-->
  <!--      <label for="option2">Similar Categories</label><br>-->

  <!--      <input type="radio" id="option3" [(ngModel)]='searchScope' name="choice" value="all">-->
  <!--      <label for="option3">All Categories</label>-->
  <!--    </form>-->
  <!--  </div>-->

  <!--  &lt;!&ndash;This is the right side drag and drop area&ndash;&gt;-->
  <!--  <div class="mark-input-box">-->
  <!--    <h1>Drag Image File Here</h1>-->
  <!--    <p>Eventually this will be a drag and drop box</p>-->
  <!--  </div>-->
</div>

<br>
