<div style="display: flex; justify-content: center; align-items: center; flex-direction: column">
  <h1>Let's Get Started</h1>
  <p style="text-align: center">Want to see if you're idea is infringing on an existing trademark?
    <br>
    Input your prospective idea below
  </p>
</div>

<!--This box contains both the manual enter and the file drag and drop-->
<div style="display:flex; justify-content: space-evenly; align-items: center">

  <!--This will be the left side manually input text area-->
  <div class="mark-input-box">
    <h1>Perform a Search</h1>

    <form #markdescription='ngForm' (ngSubmit)="classifyCode()">
      <textarea rows="5" cols="30" type="text" name="description" [(ngModel)]="description"
                placeholder="Enter description of your product or service"
                required></textarea>
      <button type="submit" [disabled]="!markdescription.valid">Submit</button>
    </form>

    <div *ngIf="classification != ''">
      <p style="text-align: center">`{{classification}}` best matches your
        description. Is that correct? If not select from the options below</p>
    </div>

    <div>
      <select name='selectedOption' [(ngModel)]="selectedOption" required>
        <option *ngFor="let option of options" [ngValue]="option">{{option[0]}}</option>
      </select>
    </div>

    <form #wordmark='ngForm' (ngSubmit)="markSearch()">
      <textarea rows="2" cols="30" type="text" name="wordMark" [(ngModel)]="mark"
                placeholder="Enter the word mark you are searching for"
                required></textarea>
      <button type="submit" [disabled]="!wordmark.valid">Submit</button>
    </form>

    <h3>Search Broadness</h3>

    <form>
      <input type="radio" [(ngModel)]='searchWidth' id="option1" name="choice" value="same">
      <label for="option1">Same Category</label><br>

      <input type="radio" id="option2" [(ngModel)]='searchWidth' name="choice" value="similar">
      <label for="option2">Similar Categories</label><br>

      <input type="radio" id="option3" [(ngModel)]='searchWidth' name="choice" value="all">
      <label for="option3">All Categories</label>
    </form>
  </div>

  <!--This is the right side drag and drop area-->
  <div class="mark-input-box">
    <h1>Drag Image File Here</h1>
    <p>Eventually this will be a drag and drop box</p>
  </div>
</div>

<br>
